* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
.disappear {
    display: none;
    visibility: hidden;
    opacity: 0;
}
*/
.body_class {
    font-family: "Times New Roman", Times, serif;
    background-image: linear-gradient(
        to top,
        lightgrey 0%,
        lightgrey 1%,
        #e0e0e0 26%,
        #efefef 48%,
        #d9d9d9 75%,
        #bcbcbc 100%
    );
}
.block {
    display: block;
}
.black {
    color: Black;
}
.three_points {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.main_product {
    width: 90%;
    height: auto;
    margin: 20px auto;
}
.border {
    border: 1px solid rgb(220, 220, 220);
}
.section_one_product {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.section_two_product {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    background-color: White;
    border-radius: 10px;
    padding: 10px;
}
.section_three_product {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    background-color: White;
    border-radius: 10px;
    padding: 10px;
}
.header_product,
.footer_product {
    width: 100%;
    height: 100px;
    background-color: Black;
}
.article_images_product {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: White;
    border-radius: 10px;
}
.article_images_product:hover > .div_circles_product {
    display: flex;
}
.article_details_product {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background-color: White;
}
.flex,
.flex_02,
.flex_03,
.flex_04 {
    display: flex;
    flex-wrap: wrap;
}
.flex,
.flex_02 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex_03 {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.flex_04 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.div_img_product {
    width: 70%;
    height: auto;
}
.img_big_product {
    display: block;
    width: 100%;
}
.img_modal_product {
    display: block;
    height: 100%;
    margin: 0 auto;
}
.img_card_product {
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 30px;
    margin: 5px;
}
.div_circles_product {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(000, 000, 000, 0.5);
    display: none;
}
.div_white_circle_product {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: White;
    cursor: cell;
}
.article_sub_details_product {
    position: relative;
    width: 100%;
    height: 100px;
}
.article_y_product {
    position: relative;
    width: 100%;
    height: 80px;
}
.article_z_product {
    position: relative;
    width: 100%;
    height: 120px;
}
.hr {
    position: absolute;
    bottom: 0%;
    width: 80%;
    height: 1px;
    border-color: rgb(220, 220, 220);
    margin-left: 10%;
    margin-right: 10%;
}
.h1_product,
.h2_product {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0px 10px;
}
.h3_product {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    height: auto;
    line-height: 30px;
    margin: 10px 0px;
}
.paragraph_product {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
}
.paragraph_form {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    height: 20px;
    line-height: 20px;
}
.button_comprar_product {
    width: 80%;
    height: 45px;
    color: White;
    background-color: rgba(217, 49, 117, 255);
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 2px;
    margin: 5px 10%;
    cursor: pointer;
}
.form_product {
    width: 80%;
    height: 100%;
    margin: 0px 10%;
    padding: 5px 0px;
}
.input_product {
    height: 20px;
    line-height: 20px;
    margin: 0px 10px;
}
/*
===================================================================================================
===================================================================================================
*/
.div_modal_container_product {
    position: fixed;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgba(000, 000, 000, 0.8);
    z-index: 100;
}
.div_modal_product {
    width: 90%;
    max-width: 400px;
    height: auto;
    min-height: 200px;
    background-color: White;
    margin: 200px auto;
    border-radius: 10px;
    border: 1px solid Silver;
}
.div_modal_x_product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid Silver;
}
.div_modal_details_product {
    width: 100%;
    height: 100%;
    padding: 0px 20px 20px 20px;
}
.close_modal_product {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: Darkred;
    background-color: White;
    border: none;
    border-radius: 2px;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    border-bottom: 1px solid Silver;
}
.open_modal_product {
    width: 40%;
    height: 40px;
    color: White;
    background-color: rgba(101, 75, 185, 255);
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 2px;
    margin: 5px 30%;
    cursor: pointer;
}
.div_cards_product {
    display: block;
    width: 100%;
    height: auto;
}
.locate {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 10px;
    color: Black;
}
.show {
    visibility: visible;
}
/*
===================================================================================================
===================================================================================================
*/
@media all and (max-width: 299px) {
    .body_class {
        display: none;
    }
}
@media all and (min-width: 300px) and (max-width: 750px) {
    .article_images_product {
        height: auto;
        padding: 50px 0px;
    }
    .article_details_product {
        height: auto;
    }
    .article_sub_details_product {
        height: 60px;
    }
    .article_y_product {
        height: 40px;
    }
    .article_z_product {
        height: 80px;
    }
    .h1_product,
    .h2_product {
        font-size: 20px;
        height: 30px;
        line-height: 30px;
    }
    .paragraph_product {
        font-size: 12px;
        height: 30px;
        line-height: 30px;
    }
    .paragraph_form {
        font-size: 12px;
    }
    .open_modal_product {
        height: 20px;
        font-size: 12px;
    }
    .button_comprar_product {
        height: 25px;
        font-size: 12px;
    }
}
@media all and (min-width: 751px) and (max-width: 1200px) {
    .article_images_product {
        width: 60%;
        height: 400px;
    }
    .article_details_product {
        width: 40%;
        height: auto;
    }
    .article_sub_details_product {
        height: 80px;
    }
    .article_y_product {
        height: 60px;
    }
    .article_z_product {
        height: 100px;
    }
    .flex {
        flex-direction: row;
    }
    .flex_04 {
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }
    .h1_product,
    .h2_product {
        font-size: 25px;
        height: 40px;
        line-height: 40px;
    }
    .paragraph_product {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
    }
    .paragraph_form {
        font-size: 14px;
    }
    .open_modal_product {
        height: 30px;
        font-size: 14px;
    }
    .button_comprar_product {
        height: 35px;
        font-size: 14px;
    }
    .form_product {
        padding: 10px 0px;
    }
}
@media all and (min-width: 1201px) {
    .article_images_product {
        width: 60%;
    }
    .article_details_product {
        width: 40%;
    }
    .flex {
        flex-direction: row;
    }
    .flex_04 {
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }
    .form_product {
        padding: 20px 0px;
    }
}
