<div id="div_modal_02_container_product" class="div_modal_container_product">
    <div id="div_modal_02_product" class="div_modal_product border">
        <div class="div_modal_x_product">
            <button id="close_modal_02_product" class="close_modal_product">X</button>
        </div>

        <div class="div_modal_details_product">
            <h3 class="h3_product">Tarjetas de crédito & débito:</h3>

            <div class="div_cards_product">
                <div class="img_card_product border">
                    <img
                        src="./images/products/mastercard.jpg"
                        alt="Mastercard"
                        class="img_modal_product"
                    />
                </div>
                <div class="img_card_product border">
                    <img
                        src="./images/products/mastercard_debito.jpg"
                        alt="Mastercard"
                        class="img_modal_product"
                    />
                </div>
                <div class="img_card_product border">
                    <img src="./images/products/visa.jpg" alt="Visa" class="img_modal_product" />
                </div>
                <div class="img_card_product border">
                    <img
                        src="./images/products/visa_debito.jpg"
                        alt="Visa"
                        class="img_modal_product"
                    />
                </div>
                <div class="img_card_product border">
                    <img src="./images/products/cabal.jpg" alt="Visa" class="img_modal_product" />
                </div>
            </div>

            <h3 class="h3_product">Otros:</h3>

            <div class="div_cards_product">
                <div class="img_card_product border">
                    <img
                        src="./images/products/paypal.jpg"
                        alt="Paypal"
                        class="img_modal_product"
                    />
                </div>
                <div class="img_card_product border">
                    <img
                        src="./images/products/mercado_pago.jpg"
                        alt="Mercado Pago"
                        class="img_modal_product"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
