<div id="div_modal_02_container_product" class="div_modal_container_product">
    <div id="div_modal_02_product" class="div_modal_product border">
        <div class="div_modal_x_product">
            <button id="close_modal_02_product" class="close_modal_product">X</button>
        </div>

        <div class="div_modal_details_product">
            <h3 class="h3_product">Tarjetas de crédito & débito:</h3>

            <div class="div_cards_product">
                <div class="img_card_product border">
                    <img src="./images/mastercard.jpg" alt="Mastercard" class="img_modal_product" />
                </div>
                <div class="img_card_product border">
                    <img
                        src="./images/mastercard_debito.jpg"
                        alt="Mastercard"
                        class="img_modal_product"
                    />
                </div>
                <div class="img_card_product border">
                    <img src="./images/visa.jpg" alt="Visa" class="img_modal_product" />
                </div>
                <div class="img_card_product border">
                    <img src="./images/visa_debito.jpg" alt="Visa" class="img_modal_product" />
                </div>
                <div class="img_card_product border">
                    <img src="./images/cabal.jpg" alt="Visa" class="img_modal_product" />
                </div>
            </div>

            <h3 class="h3_product">Otros:</h3>

            <div class="div_cards_product">
                <div class="img_card_product border">
                    <img src="./images/paypal.jpg" alt="Paypal" class="img_modal_product" />
                </div>
                <div class="img_card_product border">
                    <img
                        src="./images/mercado_pago.jpg"
                        alt="Mercado Pago"
                        class="img_modal_product"
                    />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="div_modal_container_product" class="div_modal_container_product">
    <div id="div_modal_product" class="div_modal_product border">
        <div class="div_modal_x_product">
            <button id="close_modal_product" class="close_modal_product">X</button>
        </div>

        <div class="div_modal_details_product">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla corrupti ipsa ipsam nemo
            reprehenderit a, saepe cumque fuga? Impedit quasi itaque eos neque. Ratione impedit cum
            et ipsa nisi sed corrupti aperiam dignissimos magni, explicabo voluptatum sapiente
            cumque accusantium illo quis iusto molestiae fuga eius velit porro deserunt cupiditate
            unde!
        </div>
    </div>
</div>
