<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Favicon. -->
        <link rel="shortcut icon" href="#" type="image/x-icon" />
        <!-- Font Awesome. -->
        <!-- Google Fonts. -->
        <!-- Normalize. -->
        <!-- Styles. -->
        <link rel="stylesheet" href="/css/product.css" type="text/css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body class="body_class">
        <!-- Header. -->
        <%- include("./partials/header.ejs"); %>
        <!-- Header. -->

        <!--
        <header class="header_product"></header>
        -->

        <!-- Modales (popup). -->
        <%- include("./partials/popups_one.ejs"); %> <%- include("./partials/popups_two.ejs"); %>
        <!-- Modales (popup). -->

        <main class="main_product">
            <section class="section_one_product flex">
                <article class="article_images_product flex_02 border">
                    <div class="div_img_product">
                        <img
                            id="img_big_product"
                            src="/images/products/uno.jpg"
                            alt="Imagen Producto"
                            class="img_big_product"
                        />
                    </div>
                    <div class="div_circles_product flex_03">
                        <div class="div_white_circle_product" onclick="change_image(1)"></div>
                        <div class="div_white_circle_product" onclick="change_image(2)"></div>
                        <div class="div_white_circle_product" onclick="change_image(3)"></div>
                        <div class="div_white_circle_product" onclick="change_image(4)"></div>
                        <div class="div_white_circle_product" onclick="change_image(5)"></div>
                        <div class="div_white_circle_product" onclick="change_image(6)"></div>
                    </div>
                </article>

                <article class="article_details_product border">
                    <div class="article_sub_details_product">
                        <h1 class="h1_product black">Galaxy Watch4 Classic Bluetooth (46mm)</h1>
                        <hr class="hr" />
                    </div>
                    <div class="article_sub_details_product">
                        <h2 class="h2_product black">$ 73,999.00</h2>
                        <p class="paragraph_product">12 cuotas sin interés</p>
                        <hr class="hr" />
                    </div>
                    <div class="article_sub_details_product">
                        <button id="open_modal_02_product" class="open_modal_product">
                            Formas de pago
                        </button>
                        <button
                            id="open_modal_product"
                            class="open_modal_product"
                            onclick="locate();"
                        >
                            Tu ubicación
                        </button>
                        <hr class="hr" />
                    </div>
                    <div class="article_y_product">
                        <form action="#" class="form_product flex_04">
                            <label for="cantidad" class="paragraph_form block">Cantidad: </label>
                            <input
                                type="number"
                                name="cantidad"
                                id="cantidad"
                                placeholder="Stock"
                                min="1"
                                max="10"
                                class="input_product block"
                            />
                        </form>
                        <hr class="hr" />
                    </div>
                    <div class="article_z_product">
                        <button class="button_comprar_product">Mi carro</button>
                        <button class="button_comprar_product">Comprar</button>
                    </div>
                </article>
            </section>

            <section class="section_two_product border"></section>

            <section class="section_three_product border"></section>
        </main>

        <footer class="footer_product"></footer>

        <!-- Scripts. -->

        <%- include("./partials/script_product.ejs"); %>
    </body>
</html>
